form {
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.panel-heading {
    font-size: 25px;
}
input[type=text], input[type=firstName] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
}
input[type=text], input[type=lastName] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
}

/* Set a style for all buttons */
button {
    background-color: #8e8d8e;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: center;
}

img.avatar {
    width: 30%;
    border-radius: 30%;
}

span.reg {
    float: right;
    padding-top: 16px;
    padding-bottom: 20px;
}