<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<nav class="navbar-wrapper navbar-default navbar-static-top" role="navigation">
  <div class="container">    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="nav navbar-nav">
          <div routerLinkActive='active'>
            <a routerLink="home">Home</a>
          </div>
          <div routerLinkActive='active'>
            <a routerLink="secure">Secure</a>
          </div>
          <div routerLinkActive='active'>
            <a routerLink="register">Register</a>
          </div>
          <div *loggedIn="true"><a href="javascript:void(0)" (click)='logout()'>Logout</a></div>
        </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
