.nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 35%;
}
.nav > div {
    text-align: center;
    width: 50%;
    margin: auto;
    /*height: 40px;
    background-color: #ff1a75;
    border-radius: 4px;*/
}