<div class="col-sm-12 col-sm-offset-4">
  <app-security-login *loggedIn="false" ></app-security-login>
    <div *loggedIn="true">
      <div class="panel-heading">
          My Lists
      </div>
      <button (click)="this.isCreateListVisible = true" type="submit" class="btn btn-success btn-sm">
          New List
      </button>
      <form *ngIf="this.isCreateListVisible" class="form-horizontal" role="form" id="form">
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">
              Name of List</label>
            <div class="col-sm-9">
              <input [(ngModel)]="name" type="name" class="form-control" name="name" id="name" placeholder="Enter list name here" required>
            </div>
          </div>
          <div class="form-group">
            <label for="desc" class="col-sm-3 control-label">
              Description</label>
            <div class="col-sm-9">
              <input [(ngModel)]="desc" type="desc" class="form-control" name="desc" id="desc" placeholder="Enter description here">
            </div>
          </div>
          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <button (click)="newList(); this.isCreateListVisible = false" type="submit" class="btn btn-success btn-sm">
              Create List</button>
            </div>
          </div>
        </form>
      <div class="user-lists" (click)="this.isListDataVisible = !isListDataVisible">
        {{name}}
        <div class="listData">
        {{desc}}
        </div>
        <div class="tasks" *ngIf="this.isListDataVisible">
          <div class="taskView" *ngIf="this.isListDataVisible">
            {{tasks}}
          </div>
        </div>
      </div>
      </div>      
</div>
