button {
    background-color: #8e8d8e;
    color: white;
    padding: 7px 20px;
    border: none;
    font-size: medium;
    cursor: pointer;
    width: 100%;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
.col-sm-12 {
    border: 2px black;
    background:white;
}
input[type=text], input[type=name] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
input[type=text], input[type=desc] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
input[type=text], input[type=details] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
.addTask {
    width: 100%;
    padding: 8px 5px;
    padding-bottom: 0px;
    margin: 0px -8px;
    display: inline-block;
    box-sizing: border-box;
}
.taskName {
    width: 35%;
    float: left;
    padding-right: 7px;
}
.taskDetails {
    width: 61%;
    float: right;
}
.addTaskSubmit {
    width: 100%;
    font-size: medium;
    border: solid 1px;
    margin-top: 58px;
    margin-bottom: 8px;
    margin-right: 18px;
}
.btn {
    font-size: x-large;    
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
.panel-heading {
    font-size: 25px;
    font-weight: bold;   
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal;  
    padding-bottom: 6px;
}
.new-list {
    padding-top: 8px;
}
.user-lists {
    background-color: #9d9b9d;
    color: white;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;    
}
.user-lists:hover {
    opacity: 0.8;
}
.listDesc {
    font-size: medium;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 100;
    padding-bottom: 8px;
}
.tasks {
    padding-bottom: 9px;
}
.taskView {
    border: solid 1px;
    padding: 5px 0px;
    width: 100%;
    padding-right: 0px;
    margin-top: 8px;
    padding-left: 6px;
    padding-top: 4px;
}
.form-group {
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    color: #1a7779;   
    padding-top: 6px;      
}