button {
    background-color: #8e8d8e;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
input[type=text], input[type=name] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
input[type=text], input[type=desc] {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: small;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
.panel-heading {
    font-size: 25px;
    font-weight: bold;    
}
.new-list {
    padding-top: 8px;
}
.user-lists {
    background-color: #9d9b9d;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: larger;
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
}
.user-lists:hover {
    opacity: 0.8;
}
.form-group {
    font-family: "Playfair Display"; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
    color: #1a7779;        
}